@media (min-width: 300px) {
.w-48 {
  width: 100% !important;
}
.card-img-apple {
width:35% !important;
margin-top: 5px;
margin-bottom: 5px;
}
}

@media (min-width: 768px) {
.w-48 {
  width: 48% !important;
}
.card-img-apple {
width:90% !important;
margin-top: 5px;
margin-bottom: 5px;
}
}

body {
background: #A0C49D;
}

.card {
background-color: #F7FFE5;
}

.card-target {
background-color: #E1ECC8;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

h1, .h1 {
  font-size: calc(1.1rem + 0.5vw);
}

/*
.Select, .Select div, .Select input, .Select span {
background-color: #E1ECC8;
}
*/